* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #efefef;
}

:root {
    --primary-color-black: #152427;
    --primary-color-black-green: #143c3c;
    --text-color-black-gray: #575d5e;
    --scondery-color-light-green: #e2eddf;
    --text-color-light-gray: #7d8188;
    --text-color-white: #fff;
}

/* ==========Common=========== */
a {
    text-decoration: none;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    min-width: 173px;
    height: 57px;
    color: var(--text-color-white);
    font-family: "Public Sans";
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 57px;
    padding: 0 20px;
    border-radius: 40px;
    background: var(--primary-color-black-green);
}

.btn:hover {
    background-color: #83a17d;
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    color: var(--primary-color-black, #152427);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.desc {
    color: var(--text-color-light-gray, #7d8188);
    font-weight: 500;
}
.desc.sans {
    font-family: "Public Sans";
}
.desc.lv1 {
    font-size: 1.8rem;
    line-height: 1.56;
}
.desc.lv2 {
    font-size: 1.6rem;
    line-height: 1.63;
}
.desc.lv3 {
    font-size: 1.4rem;
    line-height: 1.71;
}

/* ============Header============ */
.header {
    position: sticky;
    top: -16px;
    z-index: 1;
}

.header__content {
    display: flex;
    align-items: center;
    padding-top: 28px;
}

.navbar {
    margin-left: auto;
}
.navbar__list {
    display: flex;
}

.navbar__link {
    display: inline-block;
    padding: 0 20px;
    position: relative;
}

.navbar__link.active {
    color: var(--primary-color-black);
}

.navbar__link.active::after {
    display: inline-block;
    position: absolute;
    content: "";
    width: 16px;
    height: 2px;
    left: 20px;
    bottom: -28px;
    background: var(--primary-color-black-green, #143c3c);
}

.navbar__link:hover {
    color: var(--primary-color-black);
}

.header-action__btn {
    /* border: 1.5px solid #143c3c; */
    margin-left: 68px;
}

.header-divider {
    margin-top: 12px;
    height: 1px;
    background: linear-gradient(
        18deg,
        #fff 0%,
        #dddcdc 51.25%,
        rgba(212, 212, 212, 0) 100%
    );
}

/* ============Hero============ */

.hero {
}

.hero-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__heading {
    color: var(--primary-color-black, #152427);
    max-width: 368px;
    font-family: "Public Sans";
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    max-width: 341px;
    margin-top: 20px;
}

.hero-row {
    margin-top: 42px;
    display: flex;
    align-items: center;
    gap: 36px;
}
.hero__play {
    display: flex;
    align-items: center;
    gap: 7px;
}

.hero__play:hover .hero__play__text {
    color: #83a17d;
    opacity: 0.9;
    cursor: pointer;
}

.hero__play:hover .hero__play__btn {
    animation: rotate 3s linear infinite; /* Tạo hiệu ứng xoay tròn */
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.hero__play__icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #83a17d;
    transform: rotate(45deg);
}

.hero__play__btn {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: transparent;
    border: 5px solid;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
}

.hero__play__text {
    color: #152427;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero__media {
    position: relative;
    width: 61%;
    display: flex;
    padding: 60px 25px 60px;
}

.hero__media__bg {
    position: absolute;
    width: 340px;
    height: 340px;
    top: 154px;
    right: 150px;
    border-radius: 50%;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}

.hero__images {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hero__img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
}

.hero__img:nth-child(2) {
    margin-top: 77px;
}

.curvedGraphic-top {
    width: 545px;
    position: absolute;
    top: 28px;
    right: 320px;
}

.curvedGraphic-bottom {
    width: 545px;
    position: absolute;
    transform: rotate(176deg);
    bottom: 0;
    right: 65px;
}
